body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: black;
    display: flex;
    color: aquamarine;
}

h1 {
    text-align: center;
}

#formulario {
    margin-bottom: 20px;
}

#video {
    padding: 5px;
    font-size: 16px;
}

.video-player {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

button {
    width: 100%;
    background-color: #E5E4E2;
    height: 500px;
    text-align: center;
    display: block;
    color: aqua;
    text-overflow: clip;
    text-shadow: 20px;
    font-size: 33px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.epsodios {

    max-height: 500px;
    height: 100%;
}